.content-header {
  display: block;
}
.img-logo {
    width: 150px;
    height: auto;
    margin: auto;
}

.middle {
    display: flex;
    justify-content: end;
    width: 100%;
}

.user {
    margin: auto;
}
