.card {
    width: 100%;
    display: flex;
    flex-direction: row;
}

.title-content {
    width: 50%;
    height: auto;
    padding: 15px;
}

.btn-float {
    width: 50%;
}

.btn-new {
    float: right;
    margin-right: 35px;
    margin-top: 10px;
}