@use 'themes' as *;

@use '@nebular/theme/styles/globals' as *;

@include nb-install() {
  @include nb-theme-global();
};
/* You can add global styles to this file, and also import other style files */
@import "primeicons/primeicons.css";

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
//margins
.margin-default {
  margin: 16px !important;
}

.mg-neg-16 {
  margin-top: -16px !important;
}

//width
.width, .p-dropdown {
  width: 100% !important;
}

.width-50 {
  width: 50% !important;
}

.width-33 {
  width: 33% !important;
}

//buttons
.btn-55 {
  height: 55px !important;
}

.no-border {
  border: none !important;
}

.text-center {
  text-align: center !important;
}
.padding {
  padding: 16px;
}

.NgxEditor__Content {
  min-height: 200px !important;
}

.float-left {
  float: left !important;
}
.margin-top {
  margin-top: 16px !important;
}

.flex-left {
  display: flex;
  justify-content: flex-end;
}

.uppercase {
  text-transform: uppercase !important;
}

.product-badge {
  border-radius: 2px;
  padding: 0.15em 0.5rem;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 12px;
  letter-spacing: .3px;
}
.font-table {
  font-size: 12px !important;
}
.product-badge.status-1 {
  background: #C8E6C9;
  color: #000;
}
.product-badge.status-2 {
  background: #38d3eb;
  color: #000;
}
.product-badge.status-3 {
  background: #d70e0e;
  color: #FFF;
}
